:root {
  --white: #afafaf;
  --red: #e23457;
  --bg-color: black;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

* {
  color: white;
  background: var(--bg-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Text Colors */
.primary-color {
  color: var(--red);
}

/* Header */
.logo {
  width: auto;
  height: 75px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  transition: all 0.4s ease-in-out;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link i {
  color: var(--red);
  text-decoration: underline;
}

@media (min-width: 992px) {
  .header-login-link {
    margin-left: 5rem;
  }
}

/* Homepage */
.homepage-video {
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  margin-top: auto;
}
footer .social-links i {
  transition: color 0.4s ease-in-out;
}

footer .social-links i:hover {
  color: var(--red);
}
